body {
  font-family: 'Segoe UI', sans-serif;
  margin: 20px;
  background-image: url("../img/fondo.jpg"); /* sube un nivel desde css/ */
  background-size: cover;       /* la imagen cubre toda la pantalla */
  background-position: center;  /* centrada */
  background-repeat: no-repeat; /* no se repite */
  background-attachment: fixed; /* opcional: fondo fijo al hacer scroll */
}


form {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #863bc4;
  background-color: #d1a9ef;
  border-radius: 8px;
}

/* Labels */
label {
  display: block;
  margin-top: 10px;
}

h2, h3 {
  color: #a233d6;              /* color principal del texto */
  text-align: center;
  font-size: 3rem;             /* tamaño grande */
  text-shadow: 
    -2px -2px 0 #fcfcfc,          /* sombra negra arriba izquierda */
     2px -2px 0 #fffbfb,          /* sombra negra arriba derecha */
    -2px  2px 0 #efefef,          /* sombra negra abajo izquierda */
     2px  2px 0 #ffffff;          /* sombra negra abajo derecha */
}

