body {
    background-color: rgb(201, 219, 252);
    color: purple;
    font-family: Arial, sans-serif;
}

p {
    background-color: rgb(252, 201, 218);
    color: rgb(78, 76, 76);
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

h1, h2 {
    color: rgb(36, 136, 27);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

texto {
    color: darkblue;
    font-size: large;
    background-color: rgb(150, 192, 194);
}

.tipo1 {
    color: rgb(139, 102, 0);
    font-size: large;
    background-color: rgb(194, 190, 150);
}

.tipo2 {
    color: rgb(139, 39, 0);
    font-size: 30px;
    background-color: rgb(194, 151, 150);
}

#tipo3 {
    color: rgb(139, 0, 116);
    font-size: 50px;
    background-color: rgb(194, 150, 188);
}
