div{
    width: 200px;
    height: 400px;
    background-color: rgb(180, 233, 233);
    padding: 50px;
    padding-bottom: 25px;
    border: 10px solid salmon;
    text-align: justify;
    float: left;
}