body {
  font-family: 'Segoe UI', sans-serif;
  margin: 20px;
  background-image: url("../img/fondo.jpg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


form {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #863bc4;
  background-color: #d1a9ef;
  border-radius: 8px;
}


label {
  display: block;
  margin-top: 10px;
}

h2, h3 {
  color: #a233d6;             
  text-align: center;
  font-size: 3rem;            
  text-shadow: 
    -2px -2px 0 #fcfcfc,         
     2px -2px 0 #fffbfb,          
    -2px  2px 0 #efefef,          
     2px  2px 0 #ffffff;         
}

